

<form >
    <section   style="background-color: #ffffff; opacity: 100%; margin-left: 50px; " >
        <h1 class="text-blue-500 font-bold px-12 py-3">Dashboard Agent de Saisie</h1>
        <div class="container px-4 py-2 mx-auto">
          <div class=" mx-auto flex flex-wrap">
            <div class="   Container-2   border border-gray-900 rounded" style="width: 353px;">
                <div class="flex px-16" style="align-items: center;">
         
                    <img src="./../assets/screen.svg" class="w-6 h-8"/>
                <h1 class="text-blue-500 font-bold px-3 py-3">Constat Originale</h1>
               </div>
                <app-pinsh-zoom #pinch> 
                <img src="https://html2-f.scribdassets.com/tbgp85scg6t4juh/images/1-03f9d5886e.jpg"   style="height: 425px; width: 350px;"/>
               </app-pinsh-zoom> 
                
          
                
              
            </div>
            <div class="  Container-4   border border-gray-900 rounded ">
            <div style="margin-left: -10px;">
              <app-add-constat></app-add-constat> 
              </div>
              
            </div>
          </div>
        </div>
         <div class=" px-4 py-4 mx-auto item-center ">
          <div class=" mx-auto flex flex-wrap">
            <div class="   Container-3  px-20">
              
              
       
               
             </div>
            <div class="   Container-3  px-20">
              
              
              
            </div>
            <div class="  Container-3  ">
              
                    <button class=" w-56 font-bold flex-shrink-0 text-white border-2 border-blue-500 bg-blue-500 border-0 py-0 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg mt-10 sm:mt-0" style="margin-left:-310px" href="Localisation.html">Contact</button>
              
            </div>
          </div>
        </div>
        <div  style="align-items: center; margin-top: -540px; margin-left: 490px; 
      
        background-color: #ffffff;
        opacity: 100%;
        
        height:50px;
        width: 910px;
        position: absolute;" 
        >
          <div class="flex" style="align-items: center;">
           
            <img src="./../assets/screen.svg" class="w-6 h-8 " style="margin-left: 250px;"/>
        <h1 class="text-blue-500 font-bold px-3 py-3">Constat Numérique</h1>
       </div>
        </div>
      
      </section>
      
