 
 
 <!-- Header Containe -->

<div class="flex py-6 px-4">
    <img src="./../../assets/clipboard.svg" class="w-8 h-8" style=" margin-left: 10px;  margin-top: -5px;">
   <h1 class="text-blue-500 font-bold px-6 ">Dossier N° 695231</h1>
</div> 
<div class="flex ">
    
   
       
    <div class="flex space-x-4  px-4  rounded-lg  " style="width:67rem; height: 540px;">
          <!-- Left Container -->
        <div class=" px-2   rounded-lg w-1/2  "style="height: 540px;">
    
            <div class=" px-2 py-2 border-1 border-gray-400 rounded-lg  mb-3" style="height: 260px;" >
                <div class="flex mb-2" >
                    <img src="./../../assets/icons/Icon-map-marker.png" class="w-8 h-8" style="margin-top: 2px; margin-left: 10px; ">
                <h1 class="text-gray-900 font-medium px-2 py-2">Lieu de l'accident</h1>
                </div>
                <app-pinsh-zoom #pinch> 
                <img src="./../../assets/maps.png" class="rounded-lg" style="height: 200px; width: 500px;" >
                </app-pinsh-zoom> 
     
            </div>
        
            <div class=" px-2 py-2 border-1 border-gray-400 rounded-lg mb-3" style="height: 7.5rem;">
                <div class="flex" >
                    <img src="./../../assets/icons/Icon-scanner.png" class="w-8 h-8" style="margin-top: 2px; margin-left: 10px;">
                <h1 class="text-gray-900 font-medium px-2 py-2">Documents</h1>
                </div>
                <div class="overflow-x-auto flex space-x-2 ">
                  
                  <img src="./../../assets/icons/constat.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/docs.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
         
                
              </div>
            </div>
            <div class=" px-2 py-2 border-1 border-gray-400 rounded-lg " style="height: 7.5rem;">
                <div class="flex" >
                    <img src="./../../assets/icons/Icon-image.png" class="w-8 h-8" style="margin-top: 2px; margin-left: 10px;">
                <h1 class="text-gray-900 font-medium px-2 py-2">Facture</h1>
                </div>
                <div class="overflow-x-auto flex  space-x-2">

                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                    <img src="./../../assets/icons/facture.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  
                  
                </div>
            </div>
            
    
        </div>
          <!-- Right Container -->
        <div class=" px-2   rounded-lg w-1/2  "style="height: 540px;" >
            <div class=" px-2 py-2 border-1 border-gray-400 rounded-lg  h-32 mb-3">
                <div class="flex mb-3" >
                    <img src="./../../assets/icons/Icon-car.png" class="w-8 h-8" style="margin-top: 2px; margin-left: 10px;">
                <h1 class="text-gray-900 font-medium px-2 py-2">Type de l'accident</h1>
                </div>
                <div class="px-4 "> 
                  <mat-radio-group aria-label="Options" >
                    <div><mat-radio-button value="oui">Collision</mat-radio-button></div>
                   <div><mat-radio-button value="non">Autre</mat-radio-button></div>
                  </mat-radio-group>
                </div>
     
            </div>
            <div class=" px-2 py-2 border-1 border-gray-400 rounded-lg  mb-3" style="height: 245px;">
                <div class="flex mb-2" >
                    <img src="./../../assets/icons/Icon-videocam.png" class="w-8 h-8" style="margin-top: 2px; margin-left: 10px;">
                <h1 class="text-gray-900 font-medium px-2 py-2">Vidéo de l'accident</h1>
                </div>
                <iframe src="https://www.youtube.com/embed/onGynY3EaL4?autoplay=1  "  style="height: 180px; width: 30rem;"></iframe>
     
            </div>
    
            <div class=" px-2 py-2 border-1 border-gray-400 rounded-lg h-32">
                <div class="flex" >
                    <img src="./../../assets/icons/Icon-image.png" class="w-8 h-8" style="margin-top: 2px; margin-left: 10px;">
                <h1 class="text-gray-900 font-medium px-2 py-2">Devis</h1>
                </div>
                <div class="overflow-x-auto flex space-x-2 my-2">
                  
                  
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
                  <img src="./../../assets/icons/devis.png" class="w-12 h-16 mb-1 rounded-lg border-gray-300 border-2" >
         
                
              </div>
            </div>
     
        </div>
        
    
    </div>
    

 




<div style="margin-top: -1rem;" >
  <app-table-item></app-table-item>
</div>
</div>
<!-- Button Container -->
<div class=" px-2 py-2 rounded-lg h-12 ">
            
    <button class="w-56 font-bold  flex-shrink-0 text-white  bg-blue-600 rounded py-0  focus:outline-none hover:text-white hover:bg-blue-400 rounded text-lg mt-10 sm:mt-0" style="margin-left:50px"    onclick="document.getElementById('id01').style.display='block'">POURSUIVRE L'EXPERTISE</button>
    <button class="w-56 font-bold  flex-shrink-0 text-white  bg-blue-600 rounded py-0  focus:outline-none hover:text-white hover:bg-blue-400 rounded text-lg mt-10 sm:mt-0" style="margin-left:5px"   routerLink="/devis" routerLinkActive="active" >POURSUIVRE L'EXPERTISE</button>
    <button class="w-56 font-bold  flex-shrink-0 text-white  bg-blue-600 rounded py-0  focus:outline-none hover:text-white hover:bg-blue-400 rounded text-lg mt-10 sm:mt-0" style="margin-left:5px"    onclick="document.getElementById('id02').style.display='block'">POURSUIVRE L'EXPERTISE</button>
    <button class="w-56 font-bold  flex-shrink-0 text-white  bg-blue-600 rounded py-0  focus:outline-none hover:text-white hover:bg-blue-400 rounded text-lg mt-10 sm:mt-0" style="margin-left:5px"    onclick="document.getElementById('id03').style.display='block'">POURSUIVRE L'EXPERTISE</button>

</div>

<!-- Popup Modal 1 -->
<form>
    <div id="id01" class="w3-modal" >
      <div class="w3-modal-content rounded-lg px-16 py-12">
        <header class="mb-8 font-bold text-black" style="margin-left:190px"> 
          <span onclick="document.getElementById('id01').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
        </header>
        <div class="mb-8 py-4" style="margin-left:290px">
          
          <div class="flex mb-8" >
            <img src="./../../assets/expert.png" class="w-8 h-8" >
            <h1 class="font-bold px-8 py-2">Type d'expertise</h1>
          </div>
       
        
        <form [formGroup]="form" >
        
          <div class="px-6 mb-4"> 
          <mat-radio-group aria-label="Options" class="etat-bottom" formControlName="options">
            <div>
              <mat-radio-button name="visio"  value="visio"  >Visio expertise</mat-radio-button>
            </div>
            <div>
              <mat-radio-button name="terrain"  value="terrain"  >Expertise sur terrain</mat-radio-button>
            </div>
          </mat-radio-group>

          </div>
       </form>
       <button  class="font-bold  flex-shrink-0 text-white bg-blue-500 border-1 py-0 px-10 focus:outline-none hover:bg-blue-600 rounded text-lg mt-10 sm:mt-0" style="margin-left:40px"  (click)="setValue()">Continuer</button>
       
      </div>
    </div>
  </div>
  </form>
  
<!-- Popup Modal 2 -->
<form>
  <div id="id02" class="w3-modal" >
    <div class="w3-modal-content rounded-lg px-16 py-12" >
      <header class="mb-8 font-bold text-black" style="margin-left:190px"> 
        <span onclick="document.getElementById('id02').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
      </header>
      <div class="mb-8 py-4" style="margin-left:14rem">
        
        <div class="flex mb-10  " >
          <img src="./../../assets/repair-wrenches.svg" class="w-8 h-8 my-1" >
          <h1 class="font-bold px-2 py-2">Doner le feu vert pour la reparation ?</h1>
        </div>
        <div class="mt-2 content-evenly px-24">
          <label>
            <input type="radio" name="amazon"  value="Oui"  > 
            <span class="ml-2 text-black">Oui</span>
          </label>
        </div> 
        <div class="mt-2 mb-4 content-evenly px-24">
          <label>
            <input type="radio" name="amazon"  value="Non"  > 
            <span class="ml-2 text-black">Non</span>
          </label>
        </div>
        <div > 
          <button   class="font-bold  flex-shrink-0 text-white bg-blue-500 border-1 py-0 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg mt-10 sm:mt-0" style="margin-left:6.5rem"  routerLink="/expert" routerLinkActive="active" >Suivant</button>
        </div>
      </div>
      
      
     
    </div>
  </div>
</form>

<!-- Popup Modal 3-->
<form [formGroup]="form">
  <div id="id03" class="w3-modal" >
    <div class="w3-modal-content rounded-lg px-16 py-12">
      <header class="mb-8 font-bold text-black" style="margin-left:190px"> 
        <span onclick="document.getElementById('id03').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
      </header>
      <div class="mb-8 py-4" style="margin-left:14rem">
        
        <div class="flex mb-8" >
          <img src="./../../assets/expert.png" class="w-8 h-8" >
          <h1 class="font-bold px-6 py-2">Type du suivi de Réparation</h1>
        </div>
       <div class="px-16 mb-4">
        <mat-radio-group aria-label="Options" class="etat-bottom" formControlName="options2">
          <div>
            <mat-radio-button name="visio"  value="visio"  >Visio Suivi </mat-radio-button>
          </div>
          <div>
            <mat-radio-button name="terrain"  value="terrain"  >Suivi sur terrain</mat-radio-button>
          </div>
        </mat-radio-group>
        </div>
        <div > 
          <button   class="font-bold  flex-shrink-0 text-white bg-blue-500 border-1 py-0 px-10 focus:outline-none hover:bg-blue-600 rounded text-lg mt-10 sm:mt-0" style="margin-left:80px" (click)="setRedirection()">Suivant</button>
        </div>
      </div>
      
      
     
    </div>
  </div>
</form>
  